<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<p class="animated fadeIn">Comic heroes are a staple in popular culture - they set the standard for bravery, honor, and justice. Whether we grew up reading comics or watching their adventures on screen, we can all relate to their iconic stories, characters, and powerful themes.
    Along with inspiring us to reach our goals like Superman or become formidable weaponry like Iron Man, comic heroes often challenged ideas about what was socially accepted and also showed us examples of how moral codes can be embraced. In today's world,
    new generations have realized the values that comics have shared with humanity throughout time - the superhero is here to stay in the hearts of many!
</p>